<!-- Navbar -->
@using Microsoft.AspNetCore.Http
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>


        <li class="nav-item d-none d-sm-inline-block">
            <a asp-controller="Home" asp-action="Index" class="nav-link">Inicio</a>
        </li>

        <li class="nav-item d-none d-sm-inline-block">
            <a asp-controller="Login_" asp-action="LogOut" class="nav-link">Cerrar Sesión</a>
        </li>
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Buscar" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-comments"></i>
                <span class="badge badge-danger navbar-badge">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <a href="#" class="dropdown-item">
                    <!-- Message Start -->
                    <div class="media">
                        <img src="~/dist/img/isologo.png" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                        <div class="media-body">
                            <h3 class="dropdown-item-title">
                                Brad Diesel
                                <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                            </h3>
                            <p class="text-sm">Call me whenever you can...</p>
                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>
                    <!-- Message End -->
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <!-- Message Start -->
                    <div class="media">
                        <img src="dist/img/isologo.png" alt="User Avatar" class="img-size-50 img-circle mr-3">
                        <div class="media-body">
                            <h3 class="dropdown-item-title">
                                John Pierce
                                <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                            </h3>
                            <p class="text-sm">I got your message bro</p>
                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>
                    <!-- Message End -->
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <!-- Message Start -->
                    <div class="media">
                        <img src="dist/img/isologo.png"  class="img-size-50 img-circle mr-3">
                        <div class="media-body">
                            <h3 class="dropdown-item-title">
                                Nora Silvester
                                <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                            </h3>
                            <p class="text-sm">The subject goes here</p>
                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>
                    <!-- Message End -->
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
            </div>
        </li>
        <!-- Notifications Dropdown Menu -->

        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                <i class="fas fa-th-large"></i>
            </a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="dist/img/isologo.png" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Riviera Business</span>
    </a>

        <!-- Aqui va todo lo que se puede ver -->
    <!-- Sidebar -->
    <div class="sidebar">
        @if (Context.Session.GetInt32("tipoUsuario") == 1) //Validar quien puede hacer que
        {
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a asp-controller="Usuarios" asp-action="Index" class="d-block" id="nombreusuario"><strong>Lista Usuario</strong></a>
            </div>
        </div>
        }

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <!--_________________________________________________________________________________________________________------
        _________________________________________________________________________________________________________------>

            
        <!--_______________________________________Aqui empieza marca modelos VErsion________________________________----->
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                <li class="nav-item ">
                    <a href="#" class="nav-link ">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Colecciones
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="CMarcaCarro" asp-action="Index" class="nav-link ">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Marca</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CModeloCarro" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Modelo</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CVersionCarro" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Versión </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!------------------------------------------------------------------------------------------------------
    -----------------------------Hasta aqui llega las marcas versiones y modelos------------------------------->

                @if (Context.Session.GetInt32("tipoUsuario") == 1 || Context.Session.GetInt32("tipoUsuario") == 4)
                { //Validar quien puede hacer que
                    <!--________________________________________Aqui va seguimiento ________________________________________
        __________________________________________________________________________________________________-->
                    <li class="nav-item">
                        <a asp-controller="TbSeguimiento" asp-action="Create" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Seguimiento o Consulta
                            </p>
                        </a>
                    </li>
                    <!------------------------------------------------------------------------------------------------
        -------------------------------------Aqui termina seguimiento--------------------------------->
                }

                @if (Context.Session.GetInt32("tipoUsuario") == 1 || Context.Session.GetInt32("tipoUsuario") == 2 ||
           Context.Session.GetInt32("tipoUsuario") == 3 || Context.Session.GetInt32("tipoUsuario") == 5 ||
           Context.Session.GetInt32("tipoUsuario") == 7)
                {
                    <!--_________________________________Aqui empieza todo de los Automoviles_______________________
        ____________________________________________________________________________________________-->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-copy"></i>
                            <p>
                                Datos Automovil/Ofertas
                                <i class="right fas fa-angle-left "></i>
                                <!--<span class="badge badge-info right">6</span>-->
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-controller="TbCarros" asp-action="Create" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Agergar Oferta Compra</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="TbPapelesCarro" asp-action="Create" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Llenar Papeles Automovil</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="CCarroExtras" asp-action="Create" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Llenar Extras Automovil</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="TbLineaTiempo" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Linea Tiempo Automovil</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!---------------------------------------Aqui termina todo lo relacionados con automoviles------------------------
        ------------------------------------------------------------------------------------------------------------------>
                    <!--___________________________________________Aqui empieza personas__________________________________________________
            _______________________________________________________________________________________________________________-->
                    <li class="nav-item ">
                        <a href="#" class="nav-link ">
                            <i class="nav-icon fas fa-user-alt"></i>
                            <p>
                                Clientes/Proveedores
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-controller="TbDatosPersona" asp-action="Create" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Agregar Cliente</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="TbDatosPersonaMoral" asp-action="Create" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Agregar Persona Moral</p>
                                    <!--<p>Fixed Sidebar <small>+ Custom Area</small></p>-->
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="TbExportacion" asp-action="Create" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Clientes Exportacion</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="TbDocumentacion" asp-action="Create" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Documentacion Clientes</p>
                                </a>
                            </li>
                        </ul>

                    </li>
                    <!------------------------------------------Aqui termina lo relacionado con personas-------------------------------
            ------------------------------------------------------------------------------------------------------------------->
                }
                @if (Context.Session.GetInt32("tipoUsuario") == 1 || Context.Session.GetInt32("tipoUsuario") == 2 ||
          Context.Session.GetInt32("tipoUsuario") == 3 || Context.Session.GetInt32("tipoUsuario") == 5 ||
          Context.Session.GetInt32("tipoUsuario") == 7 || Context.Session.GetInt32("tipoUsuario") == 6)
                {
                    <!--___________________________________Aqui empieza todo lo relacionado con cómpras y ventas_______________________
        _______________________________________________________________________________________________________________-->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-chart-pie"></i>
                            <p>
                                Compra/Venta Autorizada
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-controller="TbControl" asp-action="IndexdeCompras" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Lista Comprados/Inventario</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="TbControl" asp-action="CompraAut" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Registrar Compra</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="TbControl" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Lista de Vendidos</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="TbControl" asp-action="VentaAut" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Registrar Venta</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="TbSeguro" asp-action="Create" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Si vehiculo salio asegurado</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="TbGastos" asp-action="Create" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Gasto realizado en Auto</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!----------------------------------Aqui termina todo lo relacionado con cómpras y ventas-----------------------
        ------------------------------------------------------------------------------------------------------------>
                }

                <!--_____________________________Aqui empmieza todo lo relacionado con catalogos_______________________________
    ___________________________________________________________________________________________________________-->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tree"></i>
                        <p>
                            Catalogos
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="CAsesores" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Manejar Asesores</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CBancos" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Lista Bancos</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CConcepto" asp-action="Create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Agregar mas conceptos Pago</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CEstados" asp-action="Create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Estados de utilidad</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CMetodoPago" asp-action="Create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Agregar nueva forma pago</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CMedioPublicitario" asp-action="Create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Agregar Medio Publi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CPreAcondicionamiento" asp-action="Create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Preacondicionamiento</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="TbAdecuaciones" asp-action="Create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Adecuaciones realizadas</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <!------------------------------------Aqui termina todo lo relacionado con los catalogos---------------------
    ----------------------------------------------------------------------------------------------------------->

                @if (Context.Session.GetInt32("tipoUsuario") == 1 || Context.Session.GetInt32("tipoUsuario") == 6)
                {
                    <!--______________________Aqui empieza todo lo relacionado con Las cuentas y movimientos________________
        ____________________________________________________________________________________________________-->
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>
                                Cuentas de la Empresa
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-controller="CuentasPendientesCP" asp-action="Index" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Todas las cuentas</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="CuentasPendientesCP" asp-action="CuentasCobrar" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Cuentas por cobrar</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="CuentasPendientesCP" asp-action="CuentasPagar" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Cuentas por Pagar</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="CuentasPendientesCP" asp-action="OtrasCuentas" class="nav-link">
                                    <i class="fa fa-circle nav-icon"></i>
                                    <p>Otras cuentas</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <!------------------------------------Aqui termina todo lo Las cuentas  y movimientos---------------------
        ----------------------------------------------------------------------------------------------------------->
                }


                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Guias
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="CGuiaAutometricaEBC" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Lista de las Guias con Automoviles</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CGuiaAutometricaEBC" asp-action="CreaAutometrica" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Llenar Guia Autometrica</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CGuiaAutometricaEBC" asp-action="CreaEBC" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Llenar Guia EBC</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="TbPreciosTentativos" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Llenado Para precios tentativos</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header">Contaduria</li>



                @if (Context.Session.GetInt32("tipoUsuario") == 1 || Context.Session.GetInt32("tipoUsuario") == 6)
                {
                    <li class="nav-item">
                        <a asp-controller="TbMovimientosBancarios" asp-action="Create" class="nav-link">
                            <i class="nav-icon far fa-image"></i>
                            <p>
                                Movimientos Bancarios
                            </p>
                        </a>
                    </li>
                }

                @if (Context.Session.GetInt32("tipoUsuario") == 1 || Context.Session.GetInt32("tipoUsuario") == 6)
                {
                    <li class="nav-item">
                        <a asp-controller="TbConta" asp-action="Create" class="nav-link">
                            <i class="nav-icon fas fa-columns"></i>
                            <p>
                                Para contaduria
                            </p>
                        </a>
                    </li>
                }

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>