@model Riviera_Business.Models.CCarroExtra

@{
    ViewData["Title"] = "EditCCarroExtra";
}

<h1>Correccion o Llenado</h1>

<h4>Extras de Automovil</h4>
<hr />
<p>En este apartado se podran cambiar los aditamentos del automovil o terminar de llenar</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCarroExtra" />
            <div class="form-group">
                <label asp-for="Manuales" class="control-label">Entrego Manuales</label>
                <select asp-for="Manuales" class="form-control">
                    <option value="1">Entregado</option>
                    <option value="2">No Entregado</option>
                    <option value="3">En Espera</option>
                </select>
                <span asp-validation-for="Manuales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarnetServicio" class="control-label">Entrego Carnet</label>
                <select asp-for="CarnetServicio" class="form-control">
                    <option value="1">Entregado</option>
                    <option value="2">No Entregado</option>
                    <option value="3">En Espera</option>
                </select>
                <span asp-validation-for="CarnetServicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duplicado" class="control-label">Entrego Duplicado</label>
                <select asp-for="Duplicado" class="form-control">
                    <option value="1">Entregado</option>
                    <option value="2">No Entregado</option>
                    <option value="3">En Espera</option>
                </select>
                <span asp-validation-for="Duplicado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LlantaRefaccion" class="control-label">Traia Llanta refaccion</label>
                <select asp-for="LlantaRefaccion" class="form-control">
                    <option value="1">Entregado</option>
                    <option value="2">No Entregado</option>
                    <option value="3">En Espera</option>
                </select>
                <span asp-validation-for="LlantaRefaccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Herramientas" class="control-label">Traia Herramientas</label>
                <select asp-for="Herramientas" class="form-control">
                    <option value="1">Entregado</option>
                    <option value="2">No Entregado</option>
                    <option value="3">En Espera</option>
                </select>
                <span asp-validation-for="Herramientas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gato" class="control-label">Traia Gato</label>
                <select asp-for="Gato" class="form-control">
                    <option value="1">Entregado</option>
                    <option value="2">No Entregado</option>
                    <option value="3">En Espera</option>
                </select>
                <span asp-validation-for="Gato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Antena" class="control-label">Traia Antena</label>
                <select asp-for="Antena" class="form-control">
                    <option value="1">Entregado</option>
                    <option value="2">No Entregado</option>
                    <option value="3">En Espera</option>
                </select>
                <span asp-validation-for="Antena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstado" class="control-label"></label>
                <select asp-for="IdEstado" class="form-control" asp-items="ViewBag.Estados"></select>
                <span asp-validation-for="IdEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Seleccionar el automovil al que pertenece este registro</label>
                <select asp-for="IdCarro" class="form-control selectdos" asp-items="ViewBag.Caracarro"></select>
                <span asp-validation-for="IdCarro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Lista de Automoviles</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
