@model Riviera_Business.Models.ZMMVCarro

@{
    ViewData["Title"] = "Extras";
}

<h1>Agregar Ofertas</h1>

<h4>Automoviles</h4>
<hr />
<p style="font-size:large;font-family:Arial;color:firebrick">Descripcion </p>
<p>
    En este apatado se llenaran las ofertas de los automoviles ya se por medio de interagencias
    o Retail
</p>
<p style=" font-size: small; font-family: Arial; color: darkgrey;">
    Nota: Unicamente ofertas, para proceder a la Compra pasar al apartado de:
</p>
<p style=" font-size: small; font-family: Arial; color: darkgrey;">
    Registrar Compra en  Compra/Venta Autorizada
</p>
<p style=" font-size: small; font-family: Arial; color: darkgrey;">
    Nota: En caso de faltar algunos datos favor de dejarlos vacios para su posterior llenado
</p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Extras">
            <div asp-validation-summary="ModelOnly" class="text-danger">Tipo de compra: </div>
            <div class="form-group">
                <label asp-for="TipoCompraCanal" class="control-label">Tipo de Compra Oferta</label>
                <select id="selectTipo" onchange="getPrrov(this)" asp-for="TipoCompraCanal" class="form-control">
                    <option value="0">Seleciona tipo de compra</option>
                    <option value="1">Inter Agencias</option>
                    <option value="2">Retail</option>
                </select>
                <span asp-validation-for="TipoCompraCanal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProveedor" class="control-label">Seleccionar al ofertante</label>
                <select asp-for="IdProveedor" id="selectProovedor" class="form-control"></select>
                <span asp-validation-for="IdProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kms" class="control-label">Kilometraje: </label>
                <input asp-for="Kms" class="form-control" />
                <span asp-validation-for="Kms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FolioFiscal" class="control-label"></label>
                <input asp-for="FolioFiscal" class="form-control" />
                <span asp-validation-for="FolioFiscal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFactToma" class="control-label"></label>
                <input asp-for="FechaFactToma" class="form-control" />
                <span asp-validation-for="FechaFactToma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Antiguedad" class="control-label">Num dias en almacen</label>
                <input asp-for="Antiguedad" class="form-control"  value="0"/>
                <span asp-validation-for="Antiguedad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label">Modelo o Año</label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorExt" class="control-label">Color Externo</label>
                <input asp-for="ColorExt" class="form-control" />
                <span asp-validation-for="ColorExt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorInt" class="control-label">Color Interno</label>
                <input asp-for="ColorInt" class="form-control" />
                <span asp-validation-for="ColorInt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoSerie" class="control-label">Numero de serie</label>
                <input asp-for="NoSerie" class="form-control" />
                <span asp-validation-for="NoSerie" class="text-danger"></span>
            </div>
            <p>En caso de no tener llenar los campos</p>
            <div class="form-group">
                <label asp-for="MvaOpc" class="control-label">MVA</label>
                <input asp-for="MvaOpc" class="form-control" />
                <span asp-validation-for="MvaOpc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumEconomicoOpc" class="control-label">Numero Economico</label>
                <input asp-for="NumEconomicoOpc" class="form-control" />
                <span asp-validation-for="NumEconomicoOpc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoMotor" class="control-label">Numero Motor</label>
                <input asp-for="NoMotor" class="form-control" />
                <span asp-validation-for="NoMotor" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Transmicion" class="control-label">Seleccionar Transmisión: </label>
                <select asp-for="Transmicion" id="cars" class="form-control">
                    <option value="1">Manual</option>
                    <option value="2">Secuencial</option>
                    <option value="3">Automatico</option>
                    <option value="3">CVT</option>
                    <option value="3">Automatizada Doble</option>
                </select>
                <span asp-validation-for="Transmicion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaveVehicular" class="control-label"></label>
                <input asp-for="ClaveVehicular" class="form-control" />
                <span asp-validation-for="ClaveVehicular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstado" class="control-label"></label>
                <select asp-for="IdEstado" class="form-control" asp-items="ViewBag.Estados"></select>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMarcaCarro" class="control-label">Seleccionar Marca</label>
                <select onchange="marcaChanged(this)" class="form-control" asp-items="ViewBag.Marca"></select>
                <span asp-validation-for="IdMarcaCarro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdModeloCarro" class="control-label">Seleccionar Modelo</label>
                <select id="IdModelo" onchange="modeloChange(this)" class="form-control" asp-items="ViewBag.Modelo"></select>
                <span asp-validation-for="IdModeloCarro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVersion" class="control-label">Seleccionar Version </label>
                <select asp-for="IdVersion" class="form-control" id="IdVersion" asp-items="ViewBag.Version"></select>
            </div>
            <div class="form-group">
                <label asp-for="DuenoAnterior" class="control-label">Numero de Dueños anteriores</label>
                <input asp-for="DuenoAnterior" class="form-control" />
                <span asp-validation-for="DuenoAnterior" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origen" class="control-label"></label>
                <input asp-for="Origen" class="form-control" />
                <span asp-validation-for="Origen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ubicacion" class="control-label"></label>
                <input asp-for="Ubicacion" class="form-control" />
                <span asp-validation-for="Ubicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PropuestaCliente" class="control-label"></label>
                <input asp-for="PropuestaCliente" class="form-control" />
                <span asp-validation-for="PropuestaCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaOferta" class="control-label">Cuando se realizo la oferta</label>
                <input asp-for="FechaOferta" class="form-control" />
                <span asp-validation-for="FechaOferta" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


<script>


    function getPrrov(select) {
        var value = select.value
        if (value != 0) {
            $.ajax({
                url: "/TbCarros/getProveedores",
                data: { "tipo": value },
                method: "POST",
                success: function (z) {
                    let selectVersion = document.getElementById("selectProovedor");
                    let html = "";
                    for (var i = 0; i < z.length; i++) {
                        html += "<option value ='" + z[i].tipo + "' >" + z[i].valor + "</option>";
                    }
                    selectVersion.innerHTML = html;
                }
            });
        }
    }


    function marcaChanged(select) {
        var idSelected = select.value;
        $.ajax({
            url: "/TbCarros/RecuperarModelo1",
            method: "POST",
            data: { "id": idSelected },
            success: function (e) {
                let selectModelo = document.getElementById("IdModelo");
                let html = "";
                for (var i = 0; i < e.length; i++) {
                    html += "<option value ='" + e[i].idModeloCarro + "' >" + e[i].modeloCarro + "</option>";
                }
                selectModelo.innerHTML = html;
            }
        });
    }

    function modeloChange(select) {
        var idSelected = select.value;
        $.ajax({
            url: "/TbCarros/RecuperarVersion1",
            method: "POST",
            data: { "id": idSelected },
            success: function (z) {
                let selectVersion = document.getElementById("IdVersion");
                let html = "";
                for (var i = 0; i < z.length; i++) {
                    html += "<option value ='" + z[i].idVersionCarro + "' >" + z[i].versionCarro + "</option>";
                }
                selectVersion.innerHTML = html;
            }
        });
    }
</script>
