@model Riviera_Business.Models.CPreAcondicionamiento

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Preacondicionamiento</h1>
<hr />

<div class="row">
    <p>Coregir algun acondicionamiento mal registrado</p>
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPreAcondicionamiento" />
            <div class="form-group">
                <label asp-for="Mec" class="control-label"></label>
                <input asp-for="Mec" class="form-control" />
                <span asp-validation-for="Mec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Refac" class="control-label"></label>
                <input asp-for="Refac" class="form-control" />
                <span asp-validation-for="Refac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Esteticos" class="control-label"></label>
                <input asp-for="Esteticos" class="form-control" />
                <span asp-validation-for="Esteticos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hyp" class="control-label"></label>
                <input asp-for="Hyp" class="form-control" />
                <span asp-validation-for="Hyp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trasl" class="control-label"></label>
                <input asp-for="Trasl" class="form-control" />
                <span asp-validation-for="Trasl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TbCarrosIdCarros" class="control-label"></label>
                <select asp-for="TbCarrosIdCarros" class="form-control selectdos" asp-items="ViewBag.Caracarro"></select>
                <span asp-validation-for="TbCarrosIdCarros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary mr-2" />
                <a class="btn btn-info" asp-action="Index">Regresar</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
