@model Riviera_Business.Models.TbSeguimiento

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TbSeguimiento</h4>
<hr />
<div class="content">
    <div class="content">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="FechaHoraLlegada" class="control-label"></label>
                </div><div class="col-md-7">
                    <input asp-for="FechaHoraLlegada" class="form-control" />
                    <span asp-validation-for="FechaHoraLlegada" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="FechaHoraAsignacion" class="control-label"></label>
                </div><div class="col-md-7">
                    <input asp-for="FechaHoraAsignacion" class="form-control" />
                    <span asp-validation-for="FechaHoraAsignacion" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="IdMedioPublicitario" class="control-label"></label>
                </div><div class="col-md-7">
                    <select asp-for="IdMedioPublicitario" class="form-control" asp-items="ViewBag.Mediopubli"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="NombreCompleto" class="control-label"></label>
                </div><div class="col-md-7">
                    <input asp-for="NombreCompleto" class="form-control" />
                    <span asp-validation-for="NombreCompleto" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="Correo" class="control-label"></label>
                </div><div class="col-md-7">
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="Telefono" class="control-label"></label>
                </div><div class="col-md-7">
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="IdAsesor" class="control-label">Asesor de Ventas:</label>
                </div><div class="col-md-7">
                    <select asp-for="IdAsesor" class="form-control" asp-items="ViewBag.Asesor"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="TipoVenta" class="control-label">Tipo de venta:</label>
                </div><div class="col-md-7">
                    <select asp-for="TipoVenta" class="form-control">
                        <option value="1">Seminuevos</option>
                        <option value="2">Nuevos</option>
                        <option value="3">Blindados</option>
                    </select>
                    <span asp-validation-for="TipoVenta" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="IdCarro" class="control-label">Auto de interes:</label>
                </div><div class="col-md-7">
                    <select asp-for="IdCarro"  class="form-control selectdos" asp-items="ViewBag.Carros"></select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="AnioAuto" class="control-label">Año Modelo</label>
                </div><div class="col-md-7">
                    <input asp-for="AnioAuto" class="form-control" />
                    <span asp-validation-for="AnioAuto" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="Contactado" class="control-label">Contactado: </label>
                </div><div class="col-md-7">
                <select asp-for="Contactado" class="form-control">
                    <option value="0">Seleccionar</option>
                    <option value="1">Si</option>
                    <option value="2">No</option>
                    <option value="3">Pendiente</option>
                    <option value="4">En Proceso</option>
                    <option value="5">Programado</option>
                    <option value="6">Desechado</option>
                </select>
                    <span asp-validation-for="Contactado" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="EnvioInformacion" class="control-label">Envío de información:</label>
                </div><div class="col-md-7">
                          <select asp-for="EnvioInformacion" class="form-control">
                              <option value="1">Whatsapp</option>
                              <option value="2">Correo Electronico</option>
                          </select>
                    <span asp-validation-for="EnvioInformacion" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="AgendoCita" class="control-label">Agendo Cita:</label>
                </div><div class="col-md-7">
                <select  asp-for="AgendoCita" class="form-control">
                    <option value="0">Seleccionar</option>
                    <option value="1">Si</option>
                    <option value="2">No</option>
                    <option value="3">Por Definir</option>
                    <option value="4">Asistio Cita</option>
                    <option value="5">Pendiente</option>
                </select>
                    <span asp-validation-for="AgendoCita" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="AsistioCita" class="control-label">Asistio Cita</label>
                </div><div class="col-md-7">
                          <select asp-for="AsistioCita" class="form-control">
                              <option value="1">Si</option>
                              <option value="2">No</option>
                          </select>
                    <span asp-validation-for="AsistioCita" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="UnidadToma" class="control-label">Unidad de toma:</label>
                </div><div class="col-md-7">
                          <select asp-for="UnidadToma" class="form-control">
                              <option value="1">Si</option>
                              <option value="2">No</option>
                          </select>
                    <span asp-validation-for="UnidadToma" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="RealizoPruebaManejo" class="control-label">Realizo P.M.</label>
                </div><div class="col-md-7">
                          <select asp-for="RealizoPruebaManejo" class="form-control">
                              <option value="1">Si</option>
                              <option value="2">No</option>
                              <option value="3">Pendiente</option>
                              <option value="4">Reprogramada</option>
                          </select>
                    <span asp-validation-for="RealizoPruebaManejo" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="IdIngresoSolicitudBanco" class="control-label">Ingreso solicitud:</label>
                </div><div class="col-md-7">
                    <select asp-for="IdIngresoSolicitudBanco" class="form-control" asp-items="ViewBag.Bancos"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="DejoApartadoEnganche" class="control-label">Enganche:</label>
                </div><div class="col-md-7">
                          <select asp-for="DejoApartadoEnganche" class="form-control">
                              <option value="1">Si</option>
                              <option value="2">No</option>
                              <option value="3">Anticipo a Cuenta</option>
                              <option value="4">Vehiculo a Cuenta</option>
                              <option value="5">En espera Autorizacion con T.C.</option>
                          </select>
                    <span asp-validation-for="DejoApartadoEnganche" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="FechaVenta" class="control-label">Fecha de Venta:</label>
                </div><div class="col-md-7">
                    <input asp-for="FechaVenta" class="form-control" />
                    <span asp-validation-for="FechaVenta" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="FechaFacturado" class="control-label">Fecha Facturado:</label>
                </div><div class="col-md-7">
                    <input asp-for="FechaFacturado" class="form-control" />
                    <span asp-validation-for="FechaFacturado" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="FechaEntrega" class="control-label">Fecha de entrega:</label>
                </div><div class="col-md-7">
                    <input asp-for="FechaEntrega" class="form-control" />
                    <span asp-validation-for="FechaEntrega" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="Comentarios" class="control-label">Comentarios</label>
                </div><div class="col-md-7">
                    <textarea rows="3" asp-for="Comentarios" class="form-control"></textarea>
                    <span asp-validation-for="Comentarios" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="SeguimientoDesc" class="control-label">Seguimiento:</label>
                </div><div class="col-md-7">
                    <textarea rows="3" asp-for="SeguimientoDesc" class="form-control"></textarea>
                    <span asp-validation-for="SeguimientoDesc" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="FechaSigMovimiento" class="control-label">Fecha Seguimiento Proximo Contacto</label>
                </div><div class="col-md-7">
                    <input asp-for="FechaSigMovimiento" class="form-control" />
                    <span asp-validation-for="FechaSigMovimiento" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div><div class="col-md-3">
                    <label asp-for="IdEstado" class="control-label">Estado: </label>
                </div><div class="col-md-7">
                    <select asp-for="IdEstado" class="form-control" asp-items="ViewBag.Estados"></select>
                </div>
            </div>
            <div class="row">
                <div class="btn-md-5 float-right">
                    <a class="btn btn-info" asp-action="Index">Lista Seguimientos</a>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>


